[submodule "dep/pybind11"]
	path = dep/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "dep/googletest"]
	path = dep/googletest
	url = https://github.com/google/googletest.git
[submodule "dep/autodiff"]
	path = dep/autodiff
	url = https://github.com/autodiff/autodiff.git
[submodule "dep/eigen"]
	path = dep/eigen
	url = https://gitlab.com/wgledbetter/eigen.git
	branch = asset-3.4
[submodule "dep/fmt"]
	path = dep/fmt
	url = https://github.com/fmtlib/fmt.git

